a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  background-color: #e5dfdf;
}

nav {
  display: flex;
  justify-content: space-between;
}

.top-nav-bar {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -110px;
  max-width: 100%;
  width: 100%;
  height: 70px;
  background-color: #f1edeb;
  position: fixed;
}

.side-bar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  position: fixed;
  height: 612px;
  width: 117px;
  margin: auto;
  right: 0;
  background-color: #f1edeb;
}

.main-year-selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

.main-month-selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

.search-bar > input {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  border-color: #201633;
  font-size: 20px;
}

.mobile-app-link-container {
  padding: 1rem;
  margin-top: 110px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: auto;
  background-color: #201633;
  height: 32px;
  text-align: center;
}

.calendar-link-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  background-color: #51895d;
  height: 16px;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1264px;
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #f1edeb;
  border: none;
  border-radius: 30px;
}

.title {
  grid-column-start: 1;
  grid-column-end: -1;
  width: auto;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-link {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%;
  height: 304px;
  background-color: #201633;
}

.month-link {
  border: 4px solid #7f4677;
  border-radius: 15px;
  color: #7f4677;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.year-link {
  border: 4px solid #7f4677;
  border-radius: 15px;
  color: #7f4677;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.month-link:hover {
  background-color: #7f4677;
  color: #f1edeb;
}

.year-link:hover {
  background-color: #7f4677;
  color: #f1edeb;
}
